<%- include('common/header-logged-in',{active:'admin'}) -%>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <h3>Jäsenrekisterin hallinta</h3>
                <table>
                    <tr>
                        <th>Etunimi</th>
                        <th>Sukunimi</th>
                        <th>UTU-tunnus</th>
                        <th>Sähköposti</th>
                        <th>Kotikunta</th>
                        <th>TYY-jäsenyys</th>
                        <th>TIVIA-jäsenyys</th>
                        <th>Hallitus</th>
                        <th>Admin</th>
                    </tr>
                    <% for (var i = 0; i < users.length; i++) { %>
                        <tr>
                            <td><%= users[i].firstName %></td>
                            <td><%= users[i].lastName %></td>
                            <td><%= users[i].utuAccount %></td>
                            <td><%= users[i].email %></td>
                            <td><%= users[i].hometown %></td>
                            <td><%= users[i].tyyMember %></td>
                            <td><%= users[i].tiviaMember %></td>
                            <td><%= users[i].board %></td>
                            <td><%= users[i].admin %></td>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
