<%- include('common/header-logged-in',{active:'profile'}) -%>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> <%= user.firstName%> <%= user.lastName %></h3>
                <p>
                    <strong>ID</strong>: <%= user._id %><br>
                    <strong>UTU-tunnus</strong>: <%= user.utuAccount %><br>
                    <strong>Sähköpostiosoite</strong>: <%= user.email %><br>
                    <strong>Kotikunta</strong>: <%= user.hometown %><br>
                    <strong>TYY-jäsenyys</strong>: <%= user.tyyMember %><br>
                    <strong>TIVIA-jäsenyys</strong>: <%= user.tiviaMember %><br>
                    <strong>Hash</strong>: <%= user.password %>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
