<!doctype html>
<html>
    <%- include('header') -%>
    <%- include('header-logged-in') -%>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/profile"><img src="/img/asteriski-logo.png"> Jäsenrekisteri</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <% if (user.admin) { %>
                        <li class="nav-item">
                            <a class="nav-link control" href="/admin">Hallinta</a>
                        </li>
                    <% } %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/profile">Tiedot</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/edit-profile">Muokkaa tietoja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pay-membership">Jäsenmaksu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Kirjaudu ulos</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="well">
                        <h3><span class="fa fa-user"></span> <%= user.firstName%> <%= user.lastName %></h3>
                        <p>
                            <strong>ID</strong>: <%= user._id %><br>
                            <strong>UTU-tunnus</strong>: <%= user.utuAccount %><br>
                            <strong>Sähköpostiosoite</strong>: <%= user.email %><br>
                            <strong>Kotikunta</strong>: <%= user.hometown %><br>
                            <strong>TYY-jäsenyys</strong>: <%= user.tyyMember %><br>
                            <strong>TIVIA-jäsenyys</strong>: <%= user.tiviaMember %><br>
                            <strong>Hash</strong>: <%= user.password %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
